# Игнорируем виртуальное окружение Poetry, если оно создано локально
.venv
__pycache__/
*.pyc

# Игнорируем папки IDE
.idea/
.vscode/

# Игнорируем системные папки Git
.git
.gitignore

# Игнорируем файлы с секретами (Docker Compose подставит их другим способом)
.env
